<div id="floater">
</div>
<div id="content">
  <h1>Change</h1>
  <p id="description">
    Change is the simplest way 
    to keep track your investments.
  </p>
  <a href="#" id="download"><span>Download App</span></a>
  <p id="meta">Available for <a href="#">iPhone</a></p>
</div>